{{ block "index" . }}

<!doctype html>
<!-- BE SUPER CAREFUL EDITTING THIS FILE - IT BREAKS EASILY -->
<html lang="en" class="h-full !max-h-screen">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="https://esironal.github.io/cmtouch/lib/codemirror.css" />
    <link rel="stylesheet" href="https://esironal.github.io/cmtouch/addon/hint/show-hint.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://esironal.github.io/cmtouch/lib/codemirror.js"></script>
    <script src="https://esironal.github.io/cmtouch/addon/hint/show-hint.js"></script>
    <script src="https://esironal.github.io/cmtouch/addon/hint/xml-hint.js"></script>
    <script src="https://esironal.github.io/cmtouch/addon/hint/html-hint.js"></script>
    <script src="https://esironal.github.io/cmtouch/mode/xml/xml.js"></script>
    <script src="https://esironal.github.io/cmtouch/mode/javascript/javascript.js"></script>
    <script src="https://esironal.github.io/cmtouch/mode/css/css.js"></script>
    <script src="https://esironal.github.io/cmtouch/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://esironal.github.io/cmtouch/addon/selection/active-line.js"></script>
    <script src="https://esironal.github.io/cmtouch/addon/edit/matchbrackets.js"></script>
    <link rel="stylesheet" href="https://esironal.github.io/cmtouch/theme/base16-dark.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Roboto Mono", "Fira Mono", monospace;
            color: hsla(0, 0%, 93%, 1);
        }
        .reenie-beanie-regular {
          font-family: "Reenie Beanie", cursive !important;
          font-weight: 400;
          font-style: cursive;
        }
        .bg-code-background {
            background-color: #151515;
        }

        #pane-1 {
            border-left: 1px solid;
            border-color: rgb(34, 34, 34);
            background-color: rgba(21, 21, 21, 1) !important;
        }

        .text-white {
            color: #b5e853 !important;
        }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .evaluated {
            animation: fadeInAnimation 0.5s ease-in-out;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        .CodeMirror {
            font-size: 18px;
            width: 100%;
            font-family: "Roboto Mono", "Fira Mono", monospace;
            font-weight: 400;
            height: -webkit-fill-available;
        }

        .CodeMirror-vscrollbar::-webkit-scrollbar {
            width: 0.5rem;
        }

        #evaluated::-webkit-scrollbar {
            width: 0.5rem;
        }

        #evaluated::-webkit-scrollbar-thumb {
            border-radius: 0.815rem;
            background-color: #484845;
        }

        #evaluated::-webkit-scrollbar-track {
            background: transparent;
        }

        .CodeMirror-vscrollbar::-webkit-scrollbar-track {
            background: transparent;
        }

        .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
            border-radius: 0.815rem;
            background-color: #484845;
        }
        .foxes {
            padding: 32px 17px 96px 138px;
            height: calc(100px * 2);
            width: calc(150px * 2);
            box-sizing: border-box;
            background-image: url("https://try.ruby-lang.org/images/foxes.svg");
            background-position: left top;
            background-repeat: no-repeat;
            background-size: contain;
            color: #444;
            text-align: center;
            font: italic 1.5rem "Reenie Beanie", cursive;
            line-height: .75;
        }
    </style>
    <title>Esolang Playground - The esolang scripting language</title>
</head>

<body class="dark bg-code-background flex flex-col h-full max-h-screen">
    <header style="border-bottom: 1px dashed #b5e853;">

        <div class="w-full flex items-center justify-between text-4xl text-white p-4" style="border-bottom: 1px dashed #b5e853;">
            <h1 class="reenie-beanie-regular"> try Esolang</h1>
            <a href="https://ahmedsaheed.github.io/esolang/" target="_blank" class="reenie-beanie-regular"> Documentation</a>
        </div>


        <div class="info-div text-white p-4">
            <div id="tryeso-content">
                <h1 id="tryeso-title">Got 30 minutes? </h1>
               <p class="pb-2">Give Esolang a shot right now!</p>
            </div>
            <div class="foxes">Let's begin by saying <strong class="font-bold">Hello, World</strong>.</div>
        </div>
    </header>
    <div class="flex h-full overflow-hidden">
        <div id="panes" class="flex-1 flex flex-col md:flex-row max-h-fit">
            <div id="pane-0" class="flex flex-col h-4/6 md:h-full w-full md:w-[60%]">
                <div id="code" class="flex-1 flex flex-col overflow-auto"></div>
                <div class="bg-code-background w-full bottom-0">
                    <div class="flex gap-2 w-full justify-between md:justify-end items-center px-1">
                        {{ template "form" .}}
                        <button id="copy"
                            class="flex btn btn-sm space-x-2 mr-4 items-center justify-center px-2 h-8 m-4 space-x-2 border border-white rounded text-sm text-white hover:text-[#000] hover:bg-white hover:border-none">
                            <span>Copy</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M13.803 5.333c0-1.84 1.5-3.333 3.348-3.333A3.341 3.341 0 0 1 20.5 5.333c0 1.841-1.5 3.334-3.349 3.334a3.346 3.346 0 0 1-2.384-.994l-4.635 3.156a3.336 3.336 0 0 1-.182 1.917l5.082 3.34a3.346 3.346 0 0 1 2.12-.753a3.341 3.341 0 0 1 3.348 3.334C20.5 20.507 19 22 17.151 22a3.341 3.341 0 0 1-3.348-3.333a3.3 3.3 0 0 1 .289-1.356L9.05 14a3.346 3.346 0 0 1-2.202.821A3.34 3.34 0 0 1 3.5 11.487a3.34 3.34 0 0 1 3.348-3.333c1.064 0 2.01.493 2.623 1.261l4.493-3.059a3.317 3.317 0 0 1-.161-1.023"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <form>
                            <select id="codesamples" class="bg-code-background text-white border-none">
                                <option value="1">Hello, World</option>
                                <option value="2">Fibonacci</option>
                                <option value="3">Array Sum</option>
                                <option value="4">FizzBuzz</option>
                                <option value="5">HTTP Post req</option>
                            </select>
                        </form>

                        <button id="run"
                            class="flex btn btn-sm space-x-2 mr-4 items-center justify-center px-2 h-8 m-4 space-x-2 border border-white rounded text-sm text-white hover:text-[#000] hover:bg-white hover:border-none">
                            <span class="text-lighter">RUN

                            </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M8 17.175V6.825q0-.425.3-.713t.7-.287q.125 0 .263.037t.262.113l8.15 5.175q.225.15.338.375t.112.475q0 .25-.112.475t-.338.375l-8.15 5.175q-.125.075-.262.113T9 18.175q-.4 0-.7-.288t-.3-.712m2-1.825L15.25 12L10 8.65z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div id="pane-1" class="flex flex-col h-2/6 md:h-full w-full md:w-[40%] bg-stone-800">

                <div class="flex justify-between text-white">

                    <button class="hidden md:flex border-b-2 border-transparent p-4">
                        Output
                    </button>

                    <button
                        class="clear-output-btn hidden md:flex items-center justify-center px-2 h-8 m-4 space-x-2 border border-white rounded text-sm text-white hover:text-[#000] hover:bg-white hover:border-none">
                        <span> Clear </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="32" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                                <path
                                    d="M20.5 6h-17m15.333 2.5l-.46 6.9c-.177 2.654-.265 3.981-1.13 4.79c-.865.81-2.195.81-4.856.81h-.774c-2.66 0-3.99 0-4.856-.81c-.865-.809-.953-2.136-1.13-4.79l-.46-6.9" />
                                <path d="M9.17 4a3.001 3.001 0 0 1 5.66 0" opacity=".5" />
                            </g>
                        </svg>

                    </button>

                </div>
                <div
                    class="flex flex-col justify-between space-y-4 border-dark-separator_30 border-t output-container overflow-auto">
                    <div id="output" class="h-auto flex-col overflow-auto p-4 text-white" x-show="output"></div>
                </div>
                {{ template "evaluatedView" .}}

            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        CodeMirror.commands.autocomplete = function (cm) {
            CodeMirror.showHint(cm, CodeMirror.hint.html);
        };

        window.onload = function () {
            editor = CodeMirror(document.getElementById("code"), {
                mode: "text/javascript",
                theme: "base16-dark",
                lineWrapping: true,
                lineNumbers: true,
                styleActiveLine: true,
                matchBrackets: true,

                extraKeys: {
                    "Ctrl-Space": "autocomplete",
                },
                value: "" + sampleCodes.helloWorld + "",
            });
        };

        var sampleCodes = {
            helloWorld: `
// You can edit this code!
// Click here and start typing.

print("Hello, World!");
`,
            fizzBuzz: `
let fizzBuzz = fn(n, arr) {
  let i = 1;
  while (i < n + 1) {
    if (i % 15 == 0) {
      array_append(arr, "FizzBuzz");
    } else {
      if (i % 3 == 0) {
        array_append(arr, "Fizz");
      } else {
        if (i % 5 == 0) {
          array_append(arr, "Buzz");
    } else {
       array_append(arr, i);
      }
      }
    }
    let i = i+ 1;
  }
  arr;
}

fizzBuzz(20, []);
`,
            arraySum: `
// You can edit this code!
// Click here and start typing.

let sumArray = fn(arr) {
  let currIdx = 0;
  let sum = 0;

  while(currIdx < count(arr)) {
        let sum = sum + arr[currIdx];
        let currIdx = currIdx + 1;
  }

  sum;
}

sumArray(array_new(1,2,3,4,5));
`,

            fibonacci: `
// A fibonacci function that returns the Nth Fibonacci number.
// Note the recursive call of fibonacci itself!

let fibonacci = fn(x) {
   if (x < 2) {x} else {
    fibonacci(x - 1) + fibonacci(x - 2);
  }
}

let x = 20
print("fibonnaci of", x , "is", fibonacci(x))
`,

            httpPost: `

let login_request = fn(url, username) {

   let login_data = {
       "username": username,
       "password": "success-password" // try replace with failed-password
   }

   let req = Http("POST", url, login_data)
      println(req["Body"]["message"])
}

let login_url = "https://json-placeholder.mock.beeceptor.com/login"
let username = "user123"

login_request(login_url, username)
`,
        };


        var samples = {
            helloWorld: {
              info_div:  document.querySelector(".info-div").innerHTML,
              code: sampleCodes.helloWorld,
            },
            fizzBuzz: {
              info_div:  `
              <div>
              <h1 class="text-2xl font-bold text-white">FizzBuzz</h1>
              </div>
              `,
              code: sampleCodes.fizzBuzz,
            },

        }


        function clearEvaluated() {
            document.querySelector("#evaluated").innerHTML = "";
        }

        function replaceInfoDiv(htmlContent) {
          console.log(htmlContent)
            console.log(document.querySelector(".info-div").innerHTML)
            document.querySelector(".info-div").innerHTML = htmlContent;
        }

        const copyToClipboard = () => {
            var code = editor.getValue();
            navigator.clipboard.writeText(code).then(function () {
                console.log("Copied to clipboard successfully!");
            }, function (err) {
                console.error("Unable to write to clipboard. Error:");
                console.error(err);
            });
        }

        // on copy button click
        document.querySelector("#copy").addEventListener("click", copyToClipboard);

        const sb = document.querySelector("#codesamples");
        sb.addEventListener("change", function () {
            if (sb.selectedIndex == 0) {
                editor.setValue(samples.helloWorld.code);
                replaceInfoDiv(samples.helloWorld.info_div)
                clearEvaluated();
            } else if (sb.selectedIndex == 3) {
                editor.setValue(samples.fizzBuzz.code);
                replaceInfoDiv(samples.fizzBuzz.info_div)
                clearEvaluated();
            } else if (sb.selectedIndex == 2) {
                editor.setValue(sampleCodes.arraySum);
                clearEvaluated();
            } else if (sb.selectedIndex == 1) {
                editor.setValue(sampleCodes.fibonacci);
                clearEvaluated();
            } else if (sb.selectedIndex == 4) {
                editor.setValue(sampleCodes.httpPost);
                clearEvaluated();
            }
        });

        const form = document.querySelector("form");

        form.addEventListener("keydown", function (event) {
            if (
                event.key === "Enter" &&
                (event.ctrlKey || event.metaKey)
            ) {
                // Check for both Ctrl (Windows/Linux) and Cmd (macOS)
                event.preventDefault(); // Prevent default form submission
                this.submit(); // Submit the fosrm
            }
        });

        form.addEventListener("submit", function () {
            var code = editor.getValue();
            console.log(code);
            // Set the value of the hidden textarea to the cm-code
            this.querySelector(
                "textarea[name='sourceCode']",
            ).value = code;
        });

        // get the run button
        const submitButton = document.getElementById("form_button");
        const runButton = document.getElementById("run");

        // add event listener to the run button
        runButton.addEventListener("click", function () {
            // submit the form
            submitButton.click();
        });

        // get the clear output button
        const clearOutputButton = document.getElementsByClassName("clear-output-btn")[0];
        clearOutputButton.addEventListener("click", function () {
            var evlautedBlock = document.getElementById("evaluated")
            while (evlautedBlock.firstChild) {
                evlautedBlock.removeChild(evlautedBlock.firstChild);
            }

        });

    </script>
    </div>
    </div>
</body>

</html>
{{ end }} {{block "form" .}}
<form hx-swap="innerHTML" hx-target="#evaluated" hx-post="/playground">
    <textarea name="sourceCode" hidden></textarea>
    <button id="form_button" type="submit" hidden>Run</button>
</form>
{{end}} {{ block "evaluatedView" . }}

<span id="evaluated" class="evaluated mx-2 overflow-y-auto" style="color: cyan; white-space: pre-wrap;">
    {{ range .Esos }}
    {{ .SourceCode }}
    {{ end }}
</span>


{{ end }}
